.one{
    background: linear-gradient(rgba(0, 0, 0, 0.512),rgba(0, 0, 0, 0.59),hsla(0, 0%, 0%, 0.526)),url(/image/saitama-one-punch-man-heroic-stance-desktop-wallpaper.jpg);
    background-position: center;
    background-size: cover;
}

.two{
    background: linear-gradient(rgba(0, 0, 0, 0.512),rgba(0, 0, 0, 0.59),hsla(0, 0%, 0%, 0.526)),url(/image/wallpapersden.com_chainsaw-man-5k-denji-cool-2022_6400x4000.jpg);
    background-size: cover;
}
.three{
    background: linear-gradient(rgba(0, 0, 0, 0.512),rgba(0, 0, 0, 0.59),hsla(0, 0%, 0%, 0.526)),url(/image/fushiguro-megumi-jujutsu-kaisen-red-rage-desktop-wallpaper.jpg);
    background-size: cover;
    background-position: center;
}
.four{
    background: linear-gradient(rgba(0, 0, 0, 0.512),rgba(0, 0, 0, 0.59),hsla(0, 0%, 0%, 0.526)),url(/image/ryuk-death-note-ai-3840x2160-14431.jpg);
    background-size: cover;
    background-position: center;   
}
.five{
    background: linear-gradient(rgba(0, 0, 0, 0.512),rgba(0, 0, 0, 0.59),hsla(0, 0%, 0%, 0.526)),url(/image/anya-forger-aesthetic-blue-spy-x-family-anime-desktop-wallpaper-4k.jpg);
    background-size: cover;
    background-position: center;   
}
.six{
    background: linear-gradient(rgba(0, 0, 0, 0.512),rgba(0, 0, 0, 0.59),hsla(0, 0%, 0%, 0.526)),url(/image/blue-exorcist-rin-okumura-epic-anime-desktop-wallpaper-4k.jpg);
    background-size: cover;
    background-position: center;   
}
.seven{
    background: linear-gradient(rgba(0, 0, 0, 0.512),rgba(0, 0, 0, 0.59),hsla(0, 0%, 0%, 0.526)),url(/image/solo-leveling-3840x2160-16126.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
}
.eight{
    background: linear-gradient(rgba(0, 0, 0, 0.512),rgba(0, 0, 0, 0.59),hsla(0, 0%, 0%, 0.526)),url(/image/dr-stone-senku-beige-desktop-wallpaper.jpg);
    background-size: cover;
    background-position: center;   
}
.nine{
    background: linear-gradient(rgba(0, 0, 0, 0.512),rgba(0, 0, 0, 0.59),hsla(0, 0%, 0%, 0.526)),url(/image/hxh-gon-freecss-with-backpack-desktop-wallpaper.jpg);
    background-size: cover;
    background-position: center;   
}
.ten{
    background: linear-gradient(rgba(0, 0, 0, 0.512),rgba(0, 0, 0, 0.59),hsla(0, 0%, 0%, 0.526)),url(/image/naruto-on-tree-branch-autumn-leaves-desktop-wallpaper-4k.jpg);
    background-size: cover;
    background-position: center;   
}
.none{
    background: linear-gradient(rgba(0, 0, 0, 0.512),rgba(0, 0, 0, 0.59),hsla(0, 0%, 0%, 0.526)),url(/image/monkey-d-luffy-one-piece-dynamic-entry-desktop-wallpaper.jpg);
    background-size: cover;
    background-position: center;   
}
.non{
    background: linear-gradient(rgba(0, 0, 0, 0.512),rgba(0, 0, 0, 0.59),hsla(0, 0%, 0%, 0.526)),url(/image/epic-goku-vegeta-battle-art-dbz-desktop-wallpaper-4k.jpg);
    background-size: cover;
    background-position: center;   
}
.no{
    background: linear-gradient(rgba(0, 0, 0, 0.512),rgba(0, 0, 0, 0.59),hsla(0, 0%, 0%, 0.526)),url(/image/ichigo-kurosaki-bleach-desktop-wallpaper-4k.jpg);
    background-size: cover;
    background-position: center;   
}
.black{
    background: linear-gradient(rgba(0, 0, 0, 0.512),rgba(0, 0, 0, 0.59),hsla(0, 0%, 0%, 0.526)),url(/image/Yuno.jpg);
    background-size: cover;
    background-position: center;   
}
.tok{
    background: linear-gradient(rgba(0, 0, 0, 0.512),rgba(0, 0, 0, 0.59),hsla(0, 0%, 0%, 0.526)),url(/image/alucard-hellsing-kaneki-ken-tokyo-ghoul-desktop-wallpaper-4k.jpg);
    background-size: cover;
    background-position: center;  
}
.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.512),rgba(0, 0, 0, 0.59),hsla(0, 0%, 0%, 0.526)),url(/image/my-hero-academia-izuku-epic-desktop-wallpaper-4k.jpg);
    background-size: cover;
    background-position: center;  
}
.titan{
    background: linear-gradient(rgba(0, 0, 0, 0.512),rgba(0, 0, 0, 0.59),hsla(0, 0%, 0%, 0.526)),url(/image/attack-on-titan-eren-vs-titan-desktop-wallpaper-4k.jpg);
    background-size: cover;
    background-position: center; 
}
.demon{
    background: linear-gradient(rgba(0, 0, 0, 0.512),rgba(0, 0, 0, 0.59),hsla(0, 0%, 0%, 0.526)),url(/image/tanjiro-nezuko-autumn-forest-romantic-ultrawide-wallpaper-4k.jpg);
    background-size: cover;
    background-position: center;   
}
.saga{
    background: linear-gradient(rgba(0, 0, 0, 0.512),rgba(0, 0, 0, 0.59),hsla(0, 0%, 0%, 0.526)),url(/image/1261126.jpg);
    background-size: cover;
    background-position: center; 
}
.art{
    background: linear-gradient(rgba(0, 0, 0, 0.512),rgba(0, 0, 0, 0.59),hsla(0, 0%, 0%, 0.526)),url(/image/sow.jpg);
    background-size: cover;
    background-position: center; 
}
.kai{
    background: linear-gradient(rgba(0, 0, 0, 0.512),rgba(0, 0, 0, 0.59),hsla(0, 0%, 0%, 0.526)),url(/image/kaigu.jpg);
    background-size: cover;
    background-position: center; 
}
.blue{
    background: linear-gradient(rgba(0, 0, 0, 0.512),rgba(0, 0, 0, 0.59),hsla(0, 0%, 0%, 0.526)),url(/image/ykoV6SY-blue-exorcist-wallpaper.jpg);
    background-size: cover;
    background-position: center; 
}
.pok{
    background: linear-gradient(rgba(0, 0, 0, 0.512),rgba(0, 0, 0, 0.59),hsla(0, 0%, 0%, 0.526)),url(/image/charizard-fiery-flame-breath-volcanic-desktop-wallpaper.jpg);
    background-size: cover;
    background-position: center; 
}
.rick{
    background: linear-gradient(rgba(0, 0, 0, 0.512),rgba(0, 0, 0, 0.59),hsla(0, 0%, 0%, 0.526)),url(/image/rick-sanchez-green-portal-desktop-wallpaper-4k.jpg);
    background-size: cover;
    background-position: center; 
}
.da{
    background: linear-gradient(rgba(0, 0, 0, 0.512),rgba(0, 0, 0, 0.59),hsla(0, 0%, 0%, 0.526)),url(/image/dandadan-anime-momo-okarun-4k-wallpaper-uhdpaper.com-65@2@b.jpg);
    background-size: cover;
    background-position: center; 
}
.fire{
    background: linear-gradient(rgba(0, 0, 0, 0.512),rgba(0, 0, 0, 0.59),hsla(0, 0%, 0%, 0.526)),url(/image/wp13347144-fire-force-4k-pc-wallpapers.jpg);
    background-size: cover;
    background-position: center;    
}
.date{

        background: linear-gradient(rgba(0, 0, 0, 0.512),rgba(0, 0, 0, 0.59),hsla(0, 0%, 0%, 0.526)),url(/image/846401.png);
        background-size: cover;
        background-position: center;
}
.mas{

    background: linear-gradient(rgba(0, 0, 0, 0.512),rgba(0, 0, 0, 0.59),hsla(0, 0%, 0%, 0.526)),url(/image/1355873.png.crdownload);
    background-size: cover;
    background-position: center;
}